@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*, *::before, *::after {
	box-sizing: border-box;
}
body {
	font-family: "Montserrat", sans-serif;
	min-width: 1411px;
	margin: 0;
	padding: 0;
	transition: .1s;
	/* overflow-x: hidden; */
	/* overflow-y: hidden; */
}
.no-select {
	user-select: none;
}
.flex {
	display: flex;
}
.column {
	flex-direction: column;
}
.w500 {
	font-weight: 500;
}
.w600 {
	font-weight: 600;
}
.vertical-line {
	height: 30px;
	border-right: 1px solid rgba(0,0,0,.1);
}
.pointer {
	cursor: pointer;
}
.align-center {
	align-items: center;
}
.upper {
	text-transform: uppercase;
}
.justify-center {
	justify-content: center;
}
.currency-grow {
	color: #5DD662;
}
.currency-fall {
	color: #FF7272;
}
.settings {
	margin-left: 30px;
}
.spinned {
	transform: rotate(-30deg);
	transition: .1s;
}
.settings-icon-fill {
	transition: .1s;
}
.currency-icon {
	margin: 0 10px;
}
.theme, .theme-light {
	width: 85px;
	margin-left: 20px;
	border-radius: 6px;
	padding: 10px;
	background: #ececec;
}
.theme-light {
	background: #505050;
	color: #fff;
}
.options {
	margin: 80px 0;
}
.landing-content {
	padding: 23px;
	border-radius: 25px;
}
.gradient-banner {
	background: linear-gradient(rgba(255, 236, 179, 0.2) 2.32%, rgba(225, 190, 231,0.2), rgba(225, 190, 231,0.0));
}
.currency-heading {
	justify-content: center;
	box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.10);
	height: 40px;
	align-items: center;
}
.currency-item {
	display: flex;
	margin: 0 16px;
	height: 20px;
	align-items: center;
}

.currency-grow img, .currency-fall img {
	height: 12px;
	margin-right: 5px;
}
.active {
	color: #9C27B0;
}
.heading-logo-menu {
	width: 90%;
	margin: 0 auto;
}
.margin-left-auto {
	margin-left: auto;
}
.register {
	border-radius: 6px;
	background: #FFA000;
	color: #fff;
	width: 130px;
	height: 41px;
	margin: 0 30px;
}
.heading-item {
	margin: 0 35px;
	font-weight: 500;
}
.text-content {
	width: 30%;
	margin-left: auto;
}
.landing-content {
	padding-left: 0;
	padding-right: 0;
}
.banner-button {
	width: 180px;
	height: 40px;
	border-radius: 6px;
	margin-right: 16px;
}
.inner {
	color: #fff;
	background: #9c27b0;
}
.outer {
	border: 1px solid #9c27b0;
	color: #9c27b0;
}
.heading {
	font-size: 28px;
}
.active-option h1 {
	color: #FF6F00;
}
.active-option p {
	color: #9C27B0;
}
.option {
	margin: 0 80px;
}
.box {
	width: 570px;
	height: 320px;
	background: rgba(0,0,0,.1);
	border-radius: 10px;
}
.card {
	width: 186px;
	height: 186px;
	border-radius: 6px;
	background: #fff;
	margin: 20px;
	padding: 20px;
}
.cards {
	margin: 40px auto;
}
.gradient {
	background: linear-gradient(rgba(255, 236, 179, 0.2) 2.32%, rgba(225, 190, 231,0.2), rgba(225, 190, 231,0.0));
	border-radius: 10px;
}
.right {
	position: relative;
	top: 50px;
}
.margin {
	margin-left: auto;
	margin-right: auto;
}
.banner-70p {
	width: 70%;
}
.vert-margin {
	margin: 50px auto;
}
.huge-vert-margin {
	padding-top: 100px;
	padding-bottom: 100px;
}
.dot {
	height: 16px;
	width: 16px;
	margin: 0 5px;
	border-radius: 50%;
}
.cookies {
	width: 100%;
	background: #424242;
	color: white;
	padding: 0 50px;
	margin: 0;
	position: fixed;
	bottom: 0;
}
.vert-padding {
	padding-top: 50px;
	padding-bottom: 50px;
}
.text {
	width: 500px;
	margin: 0 100px;
}
.gallery-image {
	height: 276px;
}
.promo-width {
	width: 200px;
}
.gallery-image-2 {
	height: 261px;
	margin-left: 40px;
}
.dark-theme .currency-heading {
	background: #424242;
	color: #fff;
}
.dark-theme .gradient-banner {
	background: linear-gradient(190.4deg, rgb(106 27 154 / 25%) 23.61%, rgb(77 58 89) 107.05%)
}
.dark-theme .logo h1, .dark-theme .heading-item, .dark-theme .login, .dark-theme .text-content h1, .dark-theme .text-content p, .dark-theme .heading, .dark-theme .description, .dark-theme .video h1, .dark-theme .video p, .dark-theme .text h2, .dark-theme .text p, .dark-theme .gradient h2, .dark-theme .gradient p, .dark-theme .flex h2, .dark-theme .flex p {
	color: #fff;
}
.settings-icon-fill {
	fill: black;
}
.dark-theme .active {
	color: #E1BEE7;
}
.dark-theme .settings-icon-fill {
	fill: #fff;
}
.dark-theme .outer {
	color: #E1BEE7;
	border: 1px solid #E1BEE7;
}
.dark-theme .card {
	background: #393939;
}
.dark-theme .gradient {
	background: #424242;
}
.dark-theme {
	background: #424242;
}
.logo h1 {
	margin-left: 20px;
	font-weight: 600;
}
.dark-theme .active-option h1{
	color: #FF6F00;
}
.dark-theme .active-option p {
	color: #E1BEE7;
}
.logo-copyright {
	width: 300px;
}
.coin-card {
	border: 2px solid #E1BEE7;
	border-radius: 12px;
	padding: 40px 30px;
	margin: 0 10px;
}
.no-border {
	border: none;
}
.coin-card h2 {
	color: black;
}
.coin-card h2, .coin-card p {
	margin: 0;
}
.coin-card .price {
	font-weight: 500;
}
.crypto-card {
	height: 40px;
	margin-right: 5px;
}
.card-margin {
	margin: 10px 0;
}
.coin-card .currency-dollar {
	background: rgba(0,0,0,.10);
	padding: 3px 6px;
	border-radius: 3px;
	margin-left: 12px;
}
.coin-card .top-volume {
	font-size: 14px;
}
.coin-card .price {
	margin: 10px 0;
}
.coin-card .currency-grow, .coin-card .currency-fall {
	font-size: 15px;
	font-weight: 500;
}
.coin-card .card-grow {
	height: 12px;
	margin: 0 4px;
}
.coin-card .flex p {
	color: rgba(0,0,0,.60);
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
}
.volume-sec {
	margin-left: 15px;
}
.dark-theme .coin-card {
	background: #424242;
	border: 2px solid #9c27b0;
}
.dark-theme .no-border {
	border: none;
}
.dark-theme .coin-card .flex p {
	color: rgba(255,255,255,.60);
}
.dark-theme .currency-dollar {
	color: rgba(255,255,255,.70);
}